{% extends 'base.html.twig' %}

{% block title %}Seguidores{% endblock %}

{% block body %}
    <h1>{{ user.getName }}'s Followers</h1>

    {% if followers|length > 0 %}
        <ul>
            {% for follower in followers %}
                <div class="profile-picture">
                    <img src="{{ cloudinaryService.getProfilePictureUrl(follower.pfp) }}" alt="User Profile Picture"/>
                </div>
                <li>
                    <a href="{{ path('view_profile', {userId: follower.id}) }}">{{ follower.getName }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No followers yet.</p>
    {% endif %}

    <a href="{{ path('view_profile', { userId: user.id }) }}">Back to Profile</a>
{% endblock %}
