{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}"/>
    <body data-user-id="{{ user.id }}">
    <div class="user-banner">
        <div class="profile-picture">
            <img src="{{ steam_profile_image(user.steamID64) }}" alt="Foto de perfil">
        </div>
        <div class="user-data">
            <div>
                <span>Nombre:</span> {{ user.NAME }}
            </div>
            <div>
                <span>Correo:</span> {{ user.email }}
            </div>
            <div>
                <span>SteamUser:</span> {{ user.steamUsername }}
            </div>
        </div>
        <div class="user-games">
            <div id="user_game_count">
                <span>Total games:</span> <span id="game_count_value">Loading...</span>
            </div>
        </div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li><a href="#" class="nav-link" data-target="publicaciones">Publicaciones</a></li>
            <li><a href="#" class="nav-link" data-target="me-gusta">Me gusta</a></li>
            <li><a href="#" class="nav-link" data-target="guardados">Guardados</a></li>
            <li><a href="#" class="nav-link" data-target="juegos">Juegos</a></li>
        </ul>
    </nav>

    <div id="publicaciones" class="nav-content">
        {% include 'partials/_posts_list.html.twig' with { posts: posts } %}
    </div>
    <div id="me-gusta" class="nav-content" style="display: none;">
        <p>Contenido de Me gusta</p>
    </div>
    <div id="guardados" class="nav-content" style="display: none;">
        <p>Contenido de Guardados</p>
    </div>
    <div id="juegos" class="nav-content" style="display: none;">
        {{ include('partials/_userGames.html.twig') }}
    </div>

    <script src="{{ asset('js/profile.js') }}"></script>
    <script src="{{ asset('js/fetchUserGameCount.js') }}"></script>
    </body>
{% endblock %}
