{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/profile.css')}}"/>
    <div class="user">
        <div class="profile-picture">
            <img src="{{ asset('res/favicon.ico')}}" alt="Foto de perfil">
        </div>
        <div class="user-data">
            <div>
                <span>Nombre:</span> {{ user.NAME }}
            </div>
            <div>
                <span>Correo:</span> {{ user.email }}
            </div>
            <div>
                <span>SteamUser:</span> {{ user.steamUsername }}
            </div>
        </div>

        {# La contraseña no debe mostrarse por seguridad #}
    </div>
    <nav class="nav-bar">
        <ul>
            <li><a href="#" class="selected">Publicaciones</a></li> <!-- Marcar este como seleccionado -->
            <li><a href="#">Me gusta</a></li>
            <li><a href="#">Guardados</a></li>
        </ul>
    </nav>
{% endblock %}