{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/profile/profile.css') }}"/>
    <body data-user-id="{{ user.id }}">
    <div class="profile-content">
        <div class="user-banner"
         style="background-image: url('{{ banner ? banner : 'default_banner_image_url_here.jpg' }}');">
        <div class="left-profile">
            <div class="profile-picture">
                <img src="{{ cloudinaryService.getProfilePictureUrl(user.pfp) }}" alt="User Profile Picture"/>
            </div>
            {% if isOwnProfile %}
                <div class="follow-button">
                    <button class="edit-button" onclick="window.location.href='{{ path('app_settings') }}'">Edit</button>
                </div>

            {% else %}
                {% set isFollowing = user.followers.contains(app.user) %}

                <div class="follow-form">
                    {% if isFollowing %}
                        <form action="{{ path('unfollow_user', {id: user.id}) }}" method="post">
                            <div class="follow-form-button">
                                <button type="submit" class="btn-unfollow">Unfollow</button>
                            </div>
                        </form>
                    {% else %}
                        <form action="{{ path('follow_user', {id: user.id}) }}" method="post">
                            <div class="follow-form-button">
                                <button type="submit" class="btn-follow">Follow</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="user-data">
            <div>
                <h2>{{ user.steamUsername }}</h2>
            </div>
            <div class="userFollow">
                <div>
                    <a href="{{ path('user_followers', { userId: user.id }) }}" class="btn-followers">
                        <b>{{ user.followers|length }}</b> Seguidores
                    </a>
                    <a href="{{ path('user_following', { userId: user.id }) }}" class="btn-following">
                        <b>{{ user.following|length }}</b> Siguiendo
                    </a>
                </div>
            </div>
            <div>
                <p>{{ user.description }}</p>
            </div>
        </div>
            <div class="user-games">
                <div id="user_game_count">
                    <p>Total games: <span class="game-count-value" id="game_count_value">Cargando...</span></p>
                </div>
            </div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li><a href="#" class="nav-link" data-target="publicaciones">Publicaciones</a></li>
            <li><a href="#" class="nav-link" data-target="me-gusta">Me gusta</a></li>
            <li><a href="#" class="nav-link" data-target="guardados">Guardados</a></li>
            <li><a href="#" class="nav-link" data-target="juegos">Juegos</a></li>
        </ul>
    </nav>

    <div id="publicaciones" class="nav-content">
        {% include 'partials/_posts_list.html.twig' with { posts: posts, cloudinaryService: cloudinaryService } %}
    </div>
    <div id="me-gusta" class="nav-content" style="display: none;">
        {% include 'partials/_posts_list.html.twig' with { posts: likedPosts, cloudinaryService: cloudinaryService } %}
    </div>
    <div id="guardados" class="nav-content" style="display: none;">
        {% include 'partials/_posts_list.html.twig' with { posts: savedPosts, cloudinaryService: cloudinaryService } %}
    </div>
    <div id="juegos" class="nav-content" style="display: none;">
        {{ include('partials/_userGames.html.twig') }}
    </div>
    </div>


    <script src="{{ asset('js/profile/profile.js') }}"></script>
    <script src="{{ asset('js/profile/fetchUserGameCount.js') }}"></script>
{% endblock %}
