{% extends 'base.html.twig' %}

{% block title %}instagram 2{% endblock %}

{% block body %}
    <!--    ==========================================
            barra de busqueda central

    <link rel="stylesheet" href="{{ asset('css/searchBar.css') }}"/>
    <div class="wrapper">
        <div class="searchBar">
            <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="busca" value="" />
            <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                <img src="{{ asset('res/icons/search.svg') }}" alt="Search Icon">
            </button>
        </div>
    </div>

    -->
    <link rel="stylesheet" href="{{ asset('css/main_content.css') }}"/>
    <div class="feed-options">
        <div class="feed-buttons">
            <div class="feed-button">
                <button> steamwave </button>
            </div>
            <div class="feed-button">
                <button> following </button>
            </div>
        </div>
    </div>
    <!--    feed    =====================================0
               aqui debería haber un metodo que cargue posts en la feed y a partir de una plantilla parcial para cada post -->
    <div class="feed">
        {{ include ('partials/_feedEntry.html.twig') }}
    </div>

    <!--    boton para postear  -->
    <div class="post-button">
        <img src="{{ asset('res/icons/star.svg') }}" alt="Star Icon">
    </div>

    <!--    panel lateral derecho   -->
    <link rel="stylesheet" href="{{ asset('css/chatPanel.css') }}"/>
    <aside class="rigth-aside">

        {{ include ('partials/_chatPanel.html.twig') }}
    </aside>

{% endblock %}
