<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {#===========0 el titulo se tiene que pasar por php y el favicon se tiene que cambiar =================#}
        <title>register</title>
        <link rel="favicon" href="{{ asset('res/icons/feather.svg')}}">

        <link rel="stylesheet" href="{{ asset('css/reset.css')}}"/>
        <link rel="stylesheet" href="{{ asset('css/base.css')}}"/>

        {% block stylesheets %} {#{ encore_entry_link_tags('app') }#}
        {% endblock %}

        <script src="{{ asset('js/base.js')}}"></script>

        {% block javascripts %} {#{ encore_entry_script_tags('app') }#}
        {% endblock %}
    </head>
    <body>
        <link rel="stylesheet" href="{{ asset('css/login.css')}}"/>
        <div class="center background container">
        {% block body %}
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <h1>Registrate</h1>
            <div class="line"></div>
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.steamProfileUrl) }}<br>
                {{ form_row(registrationForm.agreeTerms) }}


                <button type="submit" class="btn">Siguiente</button>

            {{ form_end(registrationForm) }}
        {% endblock %}
        </div>
    </body>
</html>
