{% block title %}Hello ProfileController!{% endblock %}

<link rel="stylesheet" href="{{ asset('css/home/chatPanel.css') }}"/>
<div class="container">
    <div class="chat-section">
        <p>

        </p>
    </div>
    <div class="sideprofile-section" data-user-id="{{ user.id }}" style="background-image: url('{{ banner ? banner : 'default_banner_image_url_here.jpg' }}');">
        <div class="sideprofile-">
            <div class="sideprofile-icon">
                <img src="{{ steam_profile_image(user.steamID64) }}" alt="Foto de perfil" class="sideprofile-img">
            </div>
            <div class="sideprofile-text" >
                <div>
                    <h3>{{ user.steamUsername }}</h3>
                </div>
                <div>
                    <p>{{ user.description }}</p>
                </div>
            </div>
        </div>

    </div>
</div>