<link rel="stylesheet" href="{{ asset('css/home/chatPanel.css') }}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.umd.js"></script>
<script src="{{ asset('js/home/sidebar.js') }}"></script>
<div class="container">
    <div class="chat-section">
        <p>

        </p>
    </div>
    <div class="sideprofile-section" id="sideprofile-background-img" data-user-id="{{ user.id }}"
         style="background-image: url('{{ banner ? banner : 'default_banner_image_url_here.jpg' }}');">
        <div class="sideprofile-content">
            <div class="sideprofile-icon">
                <img src="{{ cloudinaryService.getProfilePictureUrl(user.pfp) }}" alt="User Profile Picture" class="sideprofile-img"/>
            </div>
            <div class="sideprofile-text">
                <div>
                    <h3>{{ user.Name }}</h3>
                </div>
                <div class="userFollow">
                    <div>
                        <a href="{{ path('user_followers', { userId: user.id }) }}" class="btn-followers">
                            <b>{{ user.followers|length }}</b> Seguidores
                        </a>
                        <a href="{{ path('user_following', { userId: user.id }) }}" class="btn-following">
                            <b>{{ user.following|length }}</b> Siguiendo
                        </a>
                    </div>
                </div>
                <div>
                    <p>{{ user.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>