{# templates/partials/_posts_list.html.twig #}
<link rel="stylesheet" href="{{ asset('css/post/feedEntry.css') }}"/>
<script src="{{ asset('js/profile/interactions.js') }}"></script>

<div class="example-wrapper">
    {% if posts is empty %}
        <p>No posts available.</p>
    {% else %}
        <ul>
            {% for post in posts %}
                    <li class="feed-entry">
                        <div class="profileImg">
                            <a href="{{ path('view_profile', { userId: post.userId }) }}" class="username-link">
                                <img src="{{ cloudinaryService.getProfilePictureUrl(post.profilePicture) }}" alt="{{ post.username }}'s Profile Picture"
                                     class="post-profile-picture">
                            </a>
                        </div>
                        <div class="post-content">
                            <div class="post-username">
                                <h2 class="post-username">
                                    <a href="{{ path('view_profile', { userId: post.userId }) }}" class="username-link">
                                        {{ post.username }}
                                    </a>
                                </h2>
                            </div>
                            <a id="postLink" href="{{ path('app_post_show', { id: post.id }) }}">
                            <div class="post-text">
                                <strong></strong> {{ post.content }} <br>
                            </div>
                            <div class="post-image">
                                {# Image or Video Preview #}
                                {% if post.image %}
                                    {% if post.image ends with '.mp4' or post.image ends with '.webm' or post.image ends with '.ogg' %}
                                        <video controls>
                                            <source src="{{ post.image }}" type="video/mp4" />
                                            Your browser does not support the video tag.
                                        </video>
                                    {% else %}
                                        <img src="{{ post.image }}" alt="Post Image" />
                                    {% endif %}
                                {% endif %}

                            </div>
                                <div class="post-tag">
                                    {% if post.gameName %}
                                        <strong>Game:</strong> {{ post.gameName }} <br>
                                    {% else %}
                                        <strong>Game:</strong> Sin Tag <br>
                                    {% endif %}
                                </div>
                            </a>
                            <div class="post-like-save-container">
                                <!-- Botón de Like -->
                                <form action="{{ path('app_post_like', {'postId': post.id}) }}" method="post">
                                    <input type="hidden" name="_token" value="{{ csrf_token('like_post_' ~ post.id) }}">
                                    <button class="btn btn-success like-btn" type="button" data-id="{{ post.id }}" data-csrf-token="{{ csrf_token('like_post_' ~ post.id) }}">
                                        <img src="{{ asset('res/icons/heart.svg') }}" alt="like">
                                    </button>
                                </form>

                                <!-- Botón de Save -->
                                <form action="{{ path('app_post_save', {'postId': post.id}) }}" method="post">
                                    <input type="hidden" name="_token" value="{{ csrf_token('save_post_' ~ post.id) }}">
                                    <button class="btn btn-save" type="submit">
                                        <img src="{{ asset('res/icons/bookmark.svg') }}" alt="save">
                                    </button>
                                </form>
                            </div>

                        </div>
                        {# User Profile Section #}
                    </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
