{# templates/settings/edit_banner.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/settings/settings.css') }}"/>

    <div class="bannerForm">
        <h1 class="settings-title">Edita tu Banner</h1>

        {{ form_start(form) }}

        <div id="banner-select-container">
            {{ form_row(form.banner) }}
        </div>

        <button type="submit" class="submitButton">Guardar</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/settings/edit_banner.js') }}"></script>
{% endblock %}
