{% extends 'base.html.twig' %}

{% block title %}Ajustes{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/settings/settings.css') }}"/>

    <div class="settings-content">
        <div class="settings-title">
            <h2>Ajustes</h2>
        </div>
        <div class="setting">
            <a href="{{ path('app_update') }}">

                <p>Actualizar Perfil</p>
            </a>
        </div>
        <div class="setting">
            <a href="{{ path('edit_description') }}">
                <p>Cambiar Descripción</p>
            </a>
        </div>
        <div class="setting">
            <a href="{{ path('edit_banner') }}">
                <p>Cambiar Banner</p>
            </a>
        </div>
        <div class="setting">
            <a href="{{ path('app_logout') }}">
                <p>Logout</p>
            </a>
        </div>
        <div>
            <form action="{{ path('delete_account') }}" method="POST">
                <input type="hidden" name="_token" value="{{ csrf_token('delete_account') }}">
                <button type="submit" class="btn btn-danger">Borrar Cuenta</button>
            </form>
        </div>
    </div>
{% endblock %}
