{% extends 'base.html.twig' %}

{% block title %}Create a New Chat{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/chats.css')}}"/>
        <div class="chats-content">
            <h1>Create a New Chat</h1>

            {{ form_start(form) }}
            <div>
                <label for="chat_users">Select Users</label>
                {{ form_widget(form.users) }}
            </div>

            <div class="btn-divider">
                <button type="submit" class="boton-de-mierda create-chat">Create Chat</button> <!-- btn btn-primary -->
                {{ form_end(form) }}
                < href="{{ path('app_chat') }}" class="">Back to Chats</> <!-- btn-secondary -->
            </div>
        </div>
        {% endblock %}
