{% extends 'base.html.twig' %}

{% block title %}Chats{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/chats.css')}}"/>

    <div class="chats-content">
        <h1 class="title">Chats</h1>
        <a href="{{ path('app_chat_create') }}" class="create-btn"><p>Create a Chat</p></a> <!--btn btn-primary-->

        <ul>
            {% for chat in chats %}
                <li class="chat-li">
                    <a href="{{ path('chat_show', {'id': chat.id}) }}">
                        <div class="chat">
                        Chat: ({{ chat.users|length }} participants)
                        <!-- Display the names of the participants -->
                        {% for user in chat.users %}
                            <span>{{ user.name }}</span>
                        {% endfor %}
                        </div>
                    </a>
                </li>
            {% else %}
                <p>No chats found</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
