{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/chat/chats.css') }}"/>
    <script src="{{ asset('js/chat/message.js') }}"></script>
    <!-- New Back Button -->
    <div class="back-button-div">
        <button class="back-button" onclick="window.location.href='{{ path('app_settings') }}'">
            <img id="home-btn" src="{{ asset('res/icons/arrow-left.svg') }}" alt="back button">
        </button>
    </div>
    <div class="chat-container">
        <h3>Participants:</h3>
        <div class="participants">
            {% for user in chat.users %}
                <span class="participant">{{ user.name }}</span>
            {% else %}
                <span>No participants</span>
            {% endfor %}
        </div>

        <div class="chats-content">
            <ul class="chat-li">
                {% for message in messages %}
                    <li class="message-container {% if message.user == user %}your-message{% else %}else-message{% endif %}">
                        <div class="message-content">
                            <p class="message-text">{{ message.text }}</p>
                            <p class="message-time">{{ message.sentAt|date('H:i:s') }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="message-input-container">
            <div class="message-input">
                <input type="text" id="message" placeholder="Write your message">
                <input type="button" id="sendMessageButton" value="Send">
            </div>
        </div>
    </div>

    <div id="response"></div>
{% endblock %}
