{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/chat/chats.css')}}"/>
    <script src="{{ asset('js/chat/message.js')}}"></script>

    <div class="chat-container">
        <h1>Chat:</h1>
        <h3>Participants:</h3>
        <ul>
            {% for user in chat.users %}
                <li>{{ user.name }}</li>
            {% else %}
                <li>No participants</li>
            {% endfor %}
        </ul>

        <div class="chats-content">
            <ul class="chat-li">
                {% for message in messages %}
                    <li class="message-container {% if message.user == user %}your-message{% else %}else-message{% endif %}">
                        <div class="message-content">
                            <p class="message-text">{{ message.text }}</p>
                            <p class="message-time">{{ message.sentAt|date('H:i:s') }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <!-- Barra de entrada de mensaje dentro del contenedor de mensajes -->
            <div class="message-input">
                <input type="text" id="message" placeholder="Escribe tu mensaje.">
                <input type="button" id="sendMessageButton" value="Enviar">
            </div>
        </div>
    </div>

    <div id="response"></div>

    <a href="{{ path('app_chat') }}" class="btn btn-secondary">Back to Chats</a>
{% endblock %}
