<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        {#===========0 el titulo se tiene que pasar por php y el favicon se tiene que cambiar =================#}
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('res/favicon.ico') }}">

    <link rel="stylesheet" href="{{ asset('css/reset.css')}}"/>
    <link rel="stylesheet" href="{{ asset('css/base.css')}}"/>

    {% block stylesheets %} {#{ encore_entry_link_tags('app') }#}
    {% endblock %}

    <script src="{{ asset('js/base.js')}}"></script>

    {% block javascripts %} {#{ encore_entry_script_tags('app') }#}
    {% endblock %}
</head>
<body>
<!-- ===================================0
        barra lateral izquierda     -    tecnicamente el header-->
<header>
    <div class="sidenav"> <!-- parte de arriba  https://feathericons.com/ -->
        <a href="{{ path('app_home') }}"><button><img id="home-btn" src="{{ asset('res/icons/home.svg') }}" alt="Home button" class="sidenav-button-img"></button></a>
        <a href="{{ path('app_search') }}"><button><img id="search-btn" src="{{ asset('res/icons/search.svg') }}" alt="Likes button" class="sidenav-button-img"></button></a>
        <a href="{{ path('app_chat') }}"><button><img id="chat-btn" src="{{ asset('res/icons/message-square.svg') }}" alt="Star button" class="sidenav-button-img"></button></a>


                {% if app.user %}
                    <a href="{{ path('view_profile', { 'userId': app.user.id }) }}">
                        <button>
                            <img id="user-btn" src="{{ steam_profile_image(app.user.steamID64) }}" alt="User profile picture" class="profileimg-button">
                        </button>
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}">
                        <button><img id="user-btn" src="{{ asset('res/favicon.ico') }}" alt="User profile picture"></button>
                    </a>
                {% endif %}
                <a href="{# {{ path('app_settings') }} #}"><button class="settings"><img id="settings-btn" src="{{ asset('res/icons/settings.svg') }}" alt="Settings button" class="sidenav-button-img"></button></a>
            </div>
        </header>
<!-- ===================================0
        cuerpo del texto    -->
        <div class="content">
        {% block body %}
        {% endblock %}
        </div>

    </body>
</html>
