<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {#===========0 el titulo se tiene que pasar por php y el favicon se tiene que cambiar =================#}
        <title>{% block title %}{% endblock %}</title>
        <link rel="favicon" href="{{ asset('res/icons/feather.svg')}}">

        <link rel="stylesheet" href="{{ asset('css/reset.css')}}"/>
        <link rel="stylesheet" href="{{ asset('css/base.css')}}"/>

        {% block stylesheets %} {#{ encore_entry_link_tags('app') }#}
        {% endblock %}

        <script src="{{ asset('js/base.js')}}"></script>

        {% block javascripts %} {#{ encore_entry_script_tags('app') }#}
        {% endblock %}
    </head>
    <body>
<!-- ===================================0
        barra lateral izquierda     -    tecnicamente el header-->
        <header>
            <div class="sidenav"> <!-- parte de arriba  https://feathericons.com/ -->
                <button href="{{ path('app_home') }}"><img id="home-btn" src="{{ asset('res/icons/home.svg') }}" alt="Home button"></button>
                <button href="{{ path('app_home') }}"><img id="likes-btn" src="{{ asset('res/icons/heart.svg') }}" alt="Likes button"></button>
                <button href="{{ path('app_home') }}"><img id="star-btn" src="{{ asset('res/icons/star.svg') }}" alt="Star button"></button>
                <button href="{{ path('app_profile') }}"><img id="user" src="{{ asset('res/icons/meh.svg') }}" alt="User profile picture"></button>
            </div> <!-- pfp -->
            <div class="options">
                <button href=""><img id="settings-btn" src="{{ asset('res/icons/settings.svg') }}" alt="Setiings button"></button>
            </div>
        </header>
<!-- ===================================0
        cuerpo del texto    -->
        {% block body %}    {% endblock %}

    </body>
</html>