{# templates/post/create_post.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="post-creation">
        <link rel="stylesheet" href="{{ asset('css/post.css')}}"/>
        <h1>Create a New Post</h1>

        {{ form_start(form) }}
        {{ form_row(form.content) }}
        {{ form_row(form.image) }}

        <div id="tag-container">
            {{ form_row(form.tag) }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/fetchGamesForTag.js') }}"></script>
{% endblock %}
